

@font-face {
    font-family: 'bmitra';
    src: url('../../../fonts/bmitra.eot') format('embedded-opentype');
    src: url('../../../fonts/bmitra.woff') format('woff');
    src: url('../../../fonts/bmitra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'byekan';
    src: url('../../../fonts/byekan.eot') format('embedded-opentype');
    src: url('../../../fonts/byekan.ttf') format('truetype');
    src: url('../../../fonts/byekan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'broya';
    src: url('../../../fonts/broya.eot') format('embedded-opentype');
    src: url('../../../fonts/broya.ttf') format('truetype');
    src: url('../../../fonts/broya.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: floralwhite  !important;
    border: 20px solid gray;
    margin: 40px;
    padding: 20px;
}

}
h1 {
    font-size: large;
    text-align: center;
    color: Tomato !important;
    font-family: bmitra,Tahoma,'Times New Roman';
    font-weight: bold;
    text-shadow: 1px 1px 4px green !important ;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}


h2 {
    font-size: larger;
    font-weight: bold;
    color: darkcyan ;
    text-shadow : 1px 1px 4px green; 
    font-family: bmitra,Tahoma,'Times New Roman';
}

p {
    font-size: medium;
    color: black;
    font-family: byekan,Tahoma,'Times New Roman';
}

img {
    border: 5px solid gray;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h5 {
    background-color: white;
    direction: ltr;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}

/*ul {
    list-style-type: none;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    text-align: right
}

li {
    padding: 10px;
    margin: auto;
    font-family: broya,Tahoma,'Times New Roman';
    text-align: right;*/
}

a {
    font-family: broya,Tahoma,'Times New Roman';
    font-weight: bold;
}

/*a:link {
        text-decoration: none;
        color: darkblue;
    }*/ 
    




